article#sobre {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  grid-area: about;
}

article#sobre p {
  text-indent: 1em;
  text-align: justify;
}

article#sobre p > span{
  font-style: italic;
}

article#sobre div:nth-of-type(1) {
  width: 520px;
}

article#sobre div:nth-of-type(2) {
  height: 50vh;
}

article#sobre div:nth-of-type(2) > img {
  width: calc(100% - 80px);
}

article#formacao {
  background-color: var(--white-smoke);
  color: var(--pure-black);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  grid-area: school;
}

article#formacao img {
  width: 300px;
  height: 240px;
}

article#skills {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  color: #000;
  grid-area: skills;
}

article#skills > img {
  width: 64vw;
}

article#contato {
  background-color: var(--white-smoke);
  color: var(--pure-black);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  grid-area: contact;
}

article#contato > h2 {
  font-size: 2.3em;
}

article#contato > form {
  display: flex;
  flex-direction: column;
  /* width: calc(60vw - 200px); */
  min-width: 42vw;
  border: 1px solid var(--pure-black);
  padding: 14px;
  border-radius: 8px;
}

article#contato > form > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 4px;
}

article#contato > form > div:nth-child(6) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 4px;
}

article#contato > form > div:nth-child(6) > p{
  color: var(--success);
  font-size: 1.1rem;
}

article#contato > form > div > label {
  padding: 4px;
  border: 1px solid var(--border-primary-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--form-bg);
  color: var(--font-color-gray);
  padding: 6px;
}

article#contato > form > div > input,
article#contato > form > div > textarea {
  width: 100%;
  border: 1px solid var(--border-primary-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 4px;
}