.btn {
  font-size: 1rem;
  font-weight: bolder;
  width: 80px;
  border: 1px solid var(--pure-black);
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
}

.btn-success {
  color: var(--white-smoke);
  background-color: var(--success);
}

.btn-success:hover {
  background-color: var(--green);
}
