footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--material-purple);
  color: var(--white-smoke);
}

footer > div {
  display: flex;
}

footer > div > a {
  text-decoration: none;
  padding: 0 10px;
  color: var(--white-smoke);
}

footer > div > a:hover {
  color: var(--gold-yellow);
}