* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--material-purple);
  font-family: 'Roboto', sans-serif;
  color: var(--white-smoke);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px repeat(5, 1fr) 100px;
  grid-template-areas: 'navbar' 'header' 'about' 'school' 'skills' 'contact' 'footer';
  min-height: 80vh;
  min-width: 100vw;
}