@media all and (max-width: 768px) {
  body {
    grid-template-rows: repeat(5, 1fr) 100px;
    grid-template-areas: 'header' 'about' 'school' 'skills' 'contact' 'footer'; }
    body nav {
      display: none; } }
