nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  height: 70px;
  background-color: var(--material-purple-opacity);
  color: var(--white-smoke);
}

nav > div > p {
  font-size: 2em;
  margin-right: 20px;
}

nav > div > p > a {
  text-decoration: none;
  color: var(--white-smoke);
}

nav > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

nav > ul > li {
  padding: 16px;
}

nav > ul > li > a {
  font-size: 1.3em;
  text-decoration: none;
  color: var(--white-smoke);
}

nav > ul > li > a:hover {
  color: var(--gold-yellow);
}