@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --white-smoke: #f5f5f5;
  --pure-black: #000;
  --gold-yellow: #CFC446;
  --bold-text-color: #ffa500;
  --material-purple: #6e47ce;
  --material-purple-opacity: #6e47ceec;
  --success: #28a745;
  --green: #23993f;
  --form-bg: #ededed;
  --border-primary-color: #bcbcbc;
  --font-color-gray: #464646;
}